﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aboutus</title>
</head>
<body>
    <div>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <h1 class="page-heading bottom-indent" style="margin-bottom: 0px;">About Us</h1>
        <p><span>We Pay2Cart.com is a one stop to all your online shopping platform, where you been delighted with immense variety of all product categories. Pay2C<a></a>art.com is  having  all that is needed  when you look to  for a  speed and quality product delivery  for  your special occasion or  any important event been remembered by gifting someone special  a   product that  makes their life easier.  We are having immense varieties of all popular brands in our products   at a cost that gives a happy shopping experience with us. Pay2Cart.com is not just a medium of selling but also to grow your business where you by just sitting in your office you be able to target customer’s country wide by which the business can be increased in just few months by doubling your profits through reaching right customer at right time. Pay2Cart.com is the preferred choice of hundreds of thousands of online shoppers.</span><span>Once you have zeroed in on your favourite products, simply place the order by filling in the details; the products will be delivered right at your doorstep. Come to Pay2Cart.com and make your shopping easy and memorable.</span></p>
    </div>
</body>
</html>
