﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Return Policy</title>
</head>
<body>
    <div>
        <h1 class="page-heading bottom-indent">Return Policy</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="cms-block">
                    <ul class="list-1">
                        <li><em class="icon-ok"></em>Easy Return Policy</li>
                        <li><em class="icon-ok"></em>Secure Payments</li>
                        <li><em class="icon-ok"></em>Assured Purchase Satisfaction</li>
                    </ul>
                    <div class="cms-box">
                        <p><strong class="dark">You are completely protected. Pay2Cart offers a 7day return guarantee for all such items. </strong></p>
                        <p>At Pay2Cart.com, we believe that customer satisfaction is key; therefore we stand behind all products bought at our site. If you receive a product which is not as per the specifications ordered by you i.e. Wrong Size, Wrong Color, Wrong Quantity, Defective, Damaged, Or Significantly different from the description given by the merchant However, for some products, the sale is a final sale, and the merchant does not accept any return. Some healthcare products, customized products, products like undergarments, lingerie, swimsuits etc and perishables including flowers, edible products cannot be returned due to health & hygiene reasons. We will also not be able to accept the return if product Is used/worn or altered, Exhibits physical damage to the box or to the product, Is returned without original packaging and accessories, Serial Number is tampered. If you have received a damaged product or empty parcel or any item is missing, please contact us within 2 days of receiving the order Pay2Cart will refund amount below Rs.999/- in to Pay2Cart wallet (Apply for all services)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
