﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Terms of Services</title>
</head>
<body>
    <div>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <h1 class="page-heading bottom-indent" style="margin-bottom: 0px;">Terms of Services</h1>
        <p>
            <span>
                Terms of Services may apply in order for you to avail specific
                Pay2Cart Services and to specific portions or features of the Pay2Cart Platform, including contests,
                promotions or other similar features, all of which terms are made a part of these T&Cs by this reference.
                You agree to abide by such other terms and conditions, including where applicable representing that you are of
                sufficient legal age to use or participate in such service or feature. If there is a conflict between these T&Cs
                and the terms posted for or applicable to a specific portion of the Pay2Cart Platform or for any Pay2Cart Service
                offered on or through the Pay2Cart Platform, the latter terms shall control with respect to your use of that portion
                of the Pay2Cart Platform or the specific Pay2Cart Service.Pay2Cart may make changes to any Pay2Cart Services offered
                on the Pay2Cart Platform, or to the applicable terms for any such Pay2Cart Services, at any time, without notice.
            </span>
        </p>
    </div>
</body>
</html>
